/* ================ Header ================ */
.header.scroll-header {
  background-color: var(--body-color);
}

.header.scroll-header .nav__logo {
  color: var(--dark-color);
}

.header.scroll-header .nav_btns i {
  color: var(--dark-color);
}

.header.scroll-header .nav_btns .logout {
  color: var(--dark-color);
}

.navbar {
  padding: var(--sp-0-5) var(--sp-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav_btns i {
  margin: 0 var(--sp-0-5);
  color: var(--white-color);
  font-size: var(--h2-font-size);
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  padding: 0.25rem;
  text-transform: uppercase;
  background-color: white;
  z-index: var(--z-fixed);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

nav .nav_menu {
  margin-top: var(--sp-4);
}

nav .nav_menu .nav__link {
  color: #2d3748;
  padding: var(--sp-1);
  display: block;
}

nav .nav_menu .nav__link:hover {
  background-color: #cbd5e1;
}

nav .nav_menu .search__input {
  padding: 0.25rem 0.5rem;
  border-radius: 5rem;
}

nav .nav__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--h1-font-size);
  margin: var(--sp-1);
}

.nav__logo {
  font-family: inherit;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 920px) {
  .navbar .nav__toggle {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
  }
  nav .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
  }
  nav .nav_menu .nav__link {
    position: relative;
    color: var(--text-color);
  }
  nav .nav_menu .nav__link:hover {
    background-color: transparent;
  }
  nav .nav_menu .nav__link:after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  nav .nav_menu .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  nav .nav__close {
    display: none;
  }
  .nav__logo {
    color: var(--text-color);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin-left: 0;
  }
}
/*# sourceMappingURL=header.css.map */